/archive
/macros
config.json
*.bat

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg-info/
sdist/
*.egg

# Virtual environments
venv/
.venv/
env/
.env

# IDE configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore VS Code directory
.vscode/